<div class="container">
    <div class="top-bar">
        <div class="logo">
            <img
                src="./assets/icon/Logo.svg"
                alt="grocerymart"
                class="logo__img"
            />
            <h1 class="logo__brand">grocerymart</h1>
        </div>
        <navbar class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="#!" class="navbar__link">
                        Departments
                        <img
                            src="./assets/icon/Arrow-down.svg"
                            alt="Arrow-down"
                            class="icon"
                        />
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link"
                        >Grocery
                        <img
                            src="./assets/icon/Arrow-down.svg"
                            alt="Arrow-down"
                            class="icon"
                        />
                    </a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Beauty
                        <img
                            src="./assets/icon/Arrow-down.svg"
                            alt="Arrow-down"
                            class="icon"
                        />
                    </a>
                </li>
            </ul>
        </navbar>
        <div class="top-act">
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img
                        src="./assets/icon/Search.svg"
                        alt="Search"
                        class="top-act__icon"
                    />
                </button>
            </div>
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icon/Heart.svg"
                        alt="Heart"
                        class="top-act__icon"
                    />
                    <span class="top-act__label">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img
                        src="./assets/icon/Cart.svg"
                        alt="Cart"
                        class="top-act__icon"
                    />
                    <span class="top-act__label">$65.42</span>
                </button>
            </div>
            <img
                src="./assets/img/avatar.jpg"
                alt="Avatar"
                class="top-act__avatar"
            />
        </div>
    </div>
</div>
